<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- ADOBE FONTS -->
    <link rel="stylesheet" href="https://use.typekit.net/imp2bsl.css">

    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="site-wrapper animated-bg">
        <header>
            <h1 class="site-title">{{title}}</h1>
            <nav class="site-nav">
                <ul>
                    <li><a href="https://www.kapiolani.hawaii.edu/" class="logo-kapcc">KapCC</a></li>
                    <li><a href="http://nma.kapiolani.hawaii.edu/" class="logo-nma">NMA</a></li>
                </ul>
            </nav>
            <p class="site-info">May 20<sup>th</sup> @ 4pm</p>
        </header>
        <main>
            <div class="title">
                <!-- <h1>NMA Show</h1> -->
                <p>Join us virtually this year, for the KCC New Media Arts Portfolio Show &amp; Demo Reel!</p>
            </div>
            <div class="hero">
                <div class="card video_block">
                    <h1>View the Trailer</h1>
                </div>
                <!-- <div class="card video_block">
                    <h1>View the Show Video</h1>
                </div> -->
            </div>
            <!-- Slides -->
            <div class="title">
                <h2>Students</h2>
                <p class="stitle">Our graduating students' portfolio sites, demo reels, and presentations below</p>
            </div>
            <div class="students">
                {% for student in students %}
                <div class=" card student_block">
                    <a href="{{student.website}}" class="img-wrapper"><img src="img/{{student.photo}}" alt="{{student.name}} Photo" /></a>
                    <h3 class="student-name"><a href="{{student.website}}">{{student.name}}</a></h3>
                    <!-- <a href="/{{student.name | slug}}/">View my website</a> -->
                    <a href="{{student.website}}" class="button">Website</a>
                </div>
                {% endfor %}
            </div>
        </main>
        <footer>
            <!-- <div class="site-id">NMA</div> -->
        </footer>
    </div>

</body>

</html>